body {
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    /* font-size: 15px; */
    display: flex;
    justify-content: center;
}

.card {
    margin: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 450px;
    width: 300px;
    border-radius: 5%;
    position: absolute;
}

img {
    border-radius: 10px;
    margin-top: 25px;
}

 h3 {
    font-weight: 700;
    width: 225px;
    color: hsl(218, 44%, 22%);
}

p {
    position: relative;
    font-size: 15px;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
    bottom: 25px;
    left: 10px;
} 
